/* .list {
  margin-top: 35px;
  margin-left: 25px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.contact {
  width: ((100%-20px)/3);
} */

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}